In [1]:
import numpy as np
import pandas as pd
import keras

ModuleNotFoundError: No module named 'keras'

In [2]:
df = pd.read_csv("census.csv")

In [3]:
df.head(2)

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K

In [12]:
df.describe()
df["income"].unique()
df.nunique()

age                 74
workclass            7
education_level     16
education-num       16
marital-status       7
occupation          14
relationship         6
race                 5
sex                  2
capital-gain       121
capital-loss        97
hours-per-week      96
native-country      41
income               2
dtype: int64

In [6]:
rec = df.shape[0]
high = len(df[df["income"]==">50K"])
low = len(df[df["income"] == "<=50K"])
percent_high = round(high/rec * 100,2)
percent_low = round(low/rec *100,2)
print("Percentage of people higher than 50K is ",percent_high)
print("Percentage of people lower than 50K is ",percent_low)

Percentage of people higher than 50K is  24.78
Percentage of people lower than 50K is  75.22

In [9]:
#Split the data into predictors and labels
y_raw = df["income"]
x_raw = df.drop("income", axis = 1)

In [11]:
import matplotlib.pyplot as plt
import seaborn as sns
# Display the correlation heatmap
corr = df.corr()

plt.figure(figsize = (10,5))
ax = sns.heatmap(corr, annot=True)
ax.legend(loc=0, prop={'size': 15})
pd.plotting.scatter_matrix(df, alpha = 0.3, figsize = (14,8), diagonal = 'kde');